<h1 class="title">All Customers</h1>

<div class="buttons">
  <%= link_to "Customers Missing Email", missing_email_customers_path, class: "button is-link" %>
  <%= link_to "Alphabetized Customers", alphabetized_customers_path, class: "button is-primary" %>
</div>

<div class="container">
  <% @customers.each do |customer| %>
    <%= render "customers/customer", customer: customer %>
  <% end %>
</div>




